%base-button {
  --background-color: light-dark(#000000, #ffffff);
  --foreground-color: light-dark(#000000, #ffffff);
  --border-color: light-dark(#000000, #ffffff);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5em;

  border-style: solid;
  border-width: 0.8px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: var(--medium);
  font-weight: 500;

  outline-width: 4px;
  outline-style: solid;
  outline-color: transparent;
  line-height: 24px;

  color: var(--foreground-color);
  background-color: var(--background-color);
  border-color: var(--border-color);

  &:focus-visible {
    outline-color: light-dark(var(--neutral-100), var(--neutral-600));
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-filled-primary {
  @extend %base-button;
  --background-color: light-dark(var(--neutral-50), var(--primary-900));
  --foreground-color: light-dark(var(--neutral-50), var(--primary-100));
  --border-color: light-dark(var(--neutral-50), transparent);

  &:hover {
    --background-color: light-dark(var(--neutral-50), var(--primary-800));
    --foreground-color: light-dark(var(--neutral-50), var(--neutral-50));
  }
}

.btn-filled-secondary {
  @extend %base-button;
  --background-color: light-dark(var(--neutral-50), var(--neutral-900));
  --border-color: light-dark(var(--neutral-50), var(--neutral-600));
  --foreground-color: light-dark(var(--neutral-50), var(--neutral-300));

  &:hover {
    --background-color: light-dark(var(--neutral-50), var(--neutral-800));
    --foreground-color: light-dark(var(--neutral-50), var(--neutral-50));
  }
}

.btn-outlined-primary {
  @extend %base-button;
  --background-color: light-dark(transparent, transparent);
  --foreground-color: light-dark(var(--neutral-50), var(--neutral-300));
  --border-color: light-dark(var(--neutral-50), var(--neutral-100));

  &:hover {
    --background-color: light-dark(var(--neutral-50), var(--neutral-900));
    --foreground-color: light-dark(var(--neutral-50), var(--neutral-50));
    --border-color: light-dark(var(--neutral-50), var(--neutral-500));
  }
}

.btn-outlined-secondary {
  @extend %base-button;
  --background-color: light-dark(var(--neutral-50), var(--neutral-900));
  --border-color: light-dark(var(--neutral-50), var(--neutral-600));
  --foreground-color: light-dark(var(--neutral-50), var(--neutral-300));

  &:hover {
    --background-color: light-dark(var(--neutral-50), var(--neutral-800));
    --foreground-color: light-dark(var(--neutral-50), var(--neutral-50));
  }
}

.btn-nothing-primary {
  @extend %base-button;
  background-color: transparent;
  border: none;
}

.icon {
  box-sizing: content-box;
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    filter: invert(74%) sepia(0%) saturate(0%) brightness(90%) contrast(90%);
  }

  &:hover {
    img {
      filter: invert(95%) sepia(0%) saturate(0%) brightness(80%) contrast(100%);
    }
  }
}

/* Convert them to rem */
.rounded {
  border-radius: 1000px;
}

.bp-r-1 {
  padding-inline: 10px;
  padding-block: 5px;
}

.bp-s-1 {
  padding-inline: 10px !important;
  padding-block: 10px !important;
}

.bp-s-2 {
  padding-inline: 2px !important;
  padding-block: 2px !important;
}
