%ic-base {
    width: fit-content;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.icon-md {
    width: 26px;
    height: 26px;
}

.icon-lg {
    width: 32px;
    height: 32px;
}

.icon-xl {
    width: 40px;
    height: 40px;
}

.ic-outlined-primary {
    background-color: light-dark(var(--neutral-100), var(--primary-100));
}

.ic-filled-primary {
    @extend %ic-base;
     background-color: light-dark(var(--neutral-100), var(--neutral-900));
     color: light-dark(var(--neutral-100), var(--primary-600));
}