%ic-base {
    width: fit-content;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.icon-smm {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.icon-md {
    width: 26px;
    aspect-ratio: 1 / 1;
}

.icon-lg {
    width: 32px;
    height: fit-content;
}

.icon-xl {
    width: 40px;
    height: fit-content;
}

.icon-xxl {
    width: 56px;
    height: fit-content;
}

.icon-xxxl {
    width: 64px;
}

.icon-xxxxl {
    width: 92px;
    height: fit-content;
}

.ic-outlined-primary {
    background-color: light-dark(var(--neutral-100), var(--primary-100));
}

.ic-filled-primary {
    @extend %ic-base;
     background-color: light-dark(var(--neutral-100), var(--neutral-900));
     color: light-dark(var(--neutral-100), var(--primary-600));
}