.ripple-circle {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  background-color: #00c853;
  border-radius: 50%;
  overflow: visible;
}

.ripple-circle::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: #00c853;
  border-radius: 50%;
  opacity: 0.6;
  transform-origin: center;
  animation: ripple 1s infinite;
}

@keyframes ripple {
  0% {
    transform:  scale(0.5);
    opacity: 0.6;
  }
  70% {
    transform:  scale(2.5);
    transform-origin: center;
    opacity: 0.2;
  }
  100% {
    transform: scale(3);
    transform-origin: center;
    opacity: 0;
  }
}
