@layer component;
:where(html) {
  /* Font Configs */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Configs */
  color-scheme: light dark;

  /* Text Rendering Configs */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom Variables */
  /* --------------------- */

  /* Font Sizes */
  --xx-small: 0.25rem;
  --x-small: 0.667rem;
  --small: 0.75rem;
  --medium: 0.875rem;
  --normal: 0.945rem;
  --large: 1.125rem;
  --x-large: 2rem;
  --xx-large: 3rem;
  --xxx-large: 4rem;

  /* Font Family */
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font-secondary: "Poppins", Roboto, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;

  --neutral-50: oklch(0.99 0.00 0);
  --neutral-100: oklch(0.97 0.00 0);
  --neutral-200: oklch(0.92 0.00 0);
  --neutral-300: oklch(0.87 0.00 0);
  --neutral-400: oklch(0.72 0.00 0);
  --neutral-500: oklch(0.56 0.00 0);
  --neutral-600: oklch(0.44 0.00 0);
  --neutral-700: oklch(0.37 0.00 0);
  --neutral-800: oklch(0.27 0.00 0);
  --neutral-900: oklch(0.22 0.00 0);
  --neutral-950: oklch(0.14 0.00 0);

  --primary-50: oklch(0.97 0.01 255);
  --primary-100: oklch(0.93 0.03 256);
  --primary-200: oklch(0.88 0.06 254);
  --primary-300: oklch(0.81 0.10 252);
  --primary-400: oklch(0.71 0.14 255);
  --primary-500: oklch(0.62 0.19 260); /* main brand */
  --primary-600: oklch(0.55 0.22 263);
  --primary-700: oklch(0.49 0.22 264);
  --primary-800: oklch(0.42 0.18 266);
  --primary-900: oklch(0.38 0.14 266);
  --primary-950: oklch(0.28 0.09 268);

  --secondary-50: #fdf2f8;
  --secondary-100: #fce7f3;
  --secondary-200: #fbcfe8;
  --secondary-300: #f9a8d4;
  --secondary-400: #f472b6;
  --secondary-500: #ec4899;
  --secondary-600: #db2777;
  --secondary-700: #be185d;
  --secondary-800: #9d174d;
  --secondary-900: #831843;

  --success-50: #ecfdf5;
  --success-100: #d1fae5;
  --success-500: #10b981;
  --success-700: #047857;

  --warning-50: #fffbeb;
  --warning-100: #fef3c7;
  --warning-500: #f59e0b;
  --warning-700: #b45309;

  --danger-50: oklch(0.88 0.06 18);
  --danger-100: oklch(0.81 0.10 20);
  --danger-200: oklch(0.71 0.17 22);
  --danger-500: oklch(0.58 0.22 27);
  --danger-700: oklch(0.44 0.16 27);

  --info-50: #eff6ff;
  --info-100: #dbeafe;
  --info-500: #3b82f6;
  --info-700: #1d4ed8;

  /* Animations */
  --animation: all 200ms ease-in-out;
}
