:where(html) {
  /* Font Configs */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Configs */
  color-scheme: light dark;

  /* Text Rendering Configs */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom Variables */
  /* --------------------- */

  /* Font Sizes */
  --xx-small: 0.25rem;
  --x-small: 0.667rem;
  --small: 0.75rem;
  --medium: 0.875rem;
  --normal: 0.945rem;
  --large: 1.125rem;
  --x-large: 2rem;
  --xx-large: 3rem;
  --xxx-large: 4rem;

  /* Font Family */
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font-secondary: "Poppins", Roboto, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;

  /* Backgrounds */
  --color-bg-primary: light-dark(#ffffff, hsla(0, 0%, 0%, 1));
  --color-bg-secondary: light-dark(#f9fafb, hsla(187, 100%, 7%, 1));

  /* Text */
  --color-text-primary: light-dark(hsla(0, 0%, 0%, 1), hsla(0, 0%, 100%, 1));
  --color-text-secondary: light-dark(
    hsla(220, 4%, 32%, 1),
    hsla(220, 4%, 32%, 1)
  );

  /* Brand / Primary Action */
  --color-primary: light-dark(hsla(240, 100%, 35%, 1), hsla(240, 100%, 26%, 1));
  --color-primary-hover: light-dark(
    hsla(240, 100%, 45%, 1),
    hsla(240, 100%, 35%, 1)
  );

  /* Accent */
  --color-accent: light-dark(hsla(240, 100%, 50%, 1), hsla(240, 100%, 26%, 1));
  --color-accent-hover: light-dark(
    hsla(240, 100%, 60%, 1),
    hsla(240, 100%, 35%, 1)
  );

  /* Border / Grid */
  --color-border: light-dark(#e5e7eb, hsla(220, 4%, 32%, 1));

  /* Semantic Colors */
  --color-success: light-dark(#16a34a, #22c55e);
  --color-error: light-dark(#dc2626, #ef4444);
  --color-warning: light-dark(#d97706, #f59e0b);
  --color-info: light-dark(#2563eb, #3b82f6);

  /* Animations */
  --animation: all 200ms ease-in-out;
}

body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  font-size: clamp(var(--medium), 2vw, var(--normal));
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-secondary);
  color: red;
}
