html {
   scroll-behavior: smooth;
}
body {
 
  font-family: var(--font-primary);
  font-size: clamp(var(--medium), 2vw, var(--normal));
  color: light-dark(var(--neutral-900), var(--color-white-off));
  background-color: light-dark(var(--neutral-100), var(--neutral-950));
  color-scheme: dark;

  &:has(nav.floating) main {
    margin-top: 80px;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-secondary);
  color: light-dark(var(--color-black), var(--color-white-off));
}

b {
  color: light-dark(var(--neutral-100), var(--neutral-200));
}



.copyright {
  color: light-dark(var(--neutral-100), var(--neutral-400));
  text-align: right;
  font-size: var(--medium);
}

.logo {
  border: 2px solid light-dark(var(--neutral-100), var(--neutral-600));
  border-radius: 1000px;
}

p {
  line-height: 1.5;
}

