
body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  font-size: clamp(var(--medium), 2vw, var(--normal));
  color: light-dark(var(--neutral-900), var(--neutral-50));
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-secondary);
  color: light-dark(var(--color-black), var(--color-white));
}

